
body {
    font-family: 'open sans';
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


/* Header */

header {
    width: 100%;
    height: 110px;
    background: #4b0684c7;
    background: linear-gradient(to right, hsla(#4b0684c7), hsla(300, 3%, 6%, 0.664));
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.imagen {
    height:250px
   }
.titule{
    text-align: center;
}


/*** poner al centro*/
.align-center{
  align-items:center;
}


.container{
  max-width: 1140px;
  margin:auto;
}
.pd-lg{
  padding:2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.col-6{
  width:50%;
}

.boton{
  background-color: rgba(0, 0, 0, .1);
  border: none;
  cursor: pointer;
  padding: .2rem .4rem;
  color: #272727;
  margin-top: .7rem;
}

/* Nosotros */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #ffffff;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #4b0684c7;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clientes */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  servicio */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;

    height: 300px;
        
    width: 300px;
        
    object-fit: cover;
        
    
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}




/* footer */



.row{
  display:flex;
  flex-wrap:wrap;
}

#footer{
  background-color: #111;
  color: #fff;
}
.footer-lo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright a{
    color: white;
   
    text-decoration:none
    
}
.logo{
    position: relative;
    top: 40px; /* ajustar los valores para mover la imagen */
    left: 15px;
    width: 150px;
    height: 150px;    
    
}